@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body{
            background-color: f2f4f6;
        }
    </style>
</head>
<div class="text-center">
    <h1>Kvizomanija</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Povijest" class="btn btn-primary btn-lg">Povijest</a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Zemljopis" class="btn btn-primary btn-lg">Zemljopis</a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Sport" class="btn btn-primary btn-lg">Sport</a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Film" class="btn btn-primary btn-lg">Film</a>
                </div>

            </div>
        </div>
    }
</div>
