@model List<(string Title, List<Kviz.Models.QuizResult> Results)>
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body{
            background-color: f2f4f6;
        }
        .quiz-button-row {
            margin: 40px 0px 20px;
        }
        .button-width{
            width: 150px;
        }
        .button-box{
            height: 200px;
        }
    </style>
</head>
<div class="text-center">
    <h1>Kvizomanija</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container mt-4 button-box">
            <div class="row quiz-button-row">
                <div class="col-md-6">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Povijest" class="btn btn-primary btn-lg button-width">Povijest </a>
                </div>
                <div class="col-md-6">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Zemljopis" class="btn btn-primary btn-lg button-width">Zemljopis</a>
                </div>
            </div>
            <div class="row quiz-button-row">
                <div class="col-md-6">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Sport" class="btn btn-primary btn-lg button-width">  Sport  </a>
                </div>
                <div class="col-md-6">
                    <a asp-controller="Question" asp-action="Quiz" asp-route-quizName="Film" class="btn btn-primary btn-lg button-width">  Film   </a>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            @foreach (var quizResultTuple in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            
                            @Html.Partial("_QuizResultsPartial", quizResultTuple)
                        </div>
                    </div>
                }
        </div>
    }
</div>
