@{
    ViewData["Title"] = "Privatnost korisnika";
}
<h1>@ViewData["Title"]</h1>




    <p>Vaša privatnost je od velike važnosti za nas. U ovom dokumentu objašnjavamo koje vrste osobnih podataka prikupljamo i kako ih koristimo.</p>

    <h2>Podaci koje prikupljamo</h2>

    <p>Prilikom posjete naše web stranice, možemo prikupljati određene podatke kako bismo bolje razumjeli vaše interese i kako bismo vam omogućili bolje iskustvo pregledavanja. Ovi podaci mogu uključivati vašu IP adresu, vrstu preglednika, jezik, datum i vrijeme posjete te stranice koje ste posjetili.</p>

    <h2>Kolačići</h2>

    <p>Naša web stranica koristi kolačiće kako bismo poboljšali vaše korisničko iskustvo. Kolačići su male tekstualne datoteke koje se pohranjuju na vašem uređaju kako bi se analiziralo kako koristite našu stranicu. Možete odlučiti hoćete li prihvatiti ili odbiti kolačiće te možete promijeniti postavke preglednika da automatski odbija sve kolačiće ili vas obavijesti kad se kolačići šalju.</p>

    <h2>Kako koristimo vaše podatke</h2>

    <p>Prikupljeni podaci koriste se isključivo za interne potrebe kako bismo bolje razumjeli naše korisnike i prilagodili naš sadržaj kako bi bolje odgovarao vašim interesima.</p>

    <h2>Sigurnost podataka</h2>

    <p>Vaši osobni podaci bit će čuvani na siguran način te nećemo dijeliti, prodavati ili iznajmljivati vaše podatke trećim stranama.</p>

    <h2>Promjene u politici privatnosti</h2>

    <p>Ova politika privatnosti može se povremeno ažurirati kako bismo odgovarali zakonskim i poslovnim zahtjevima. Molimo vas da povremeno pregledate ovu politiku kako biste bili informirani o tome kako štitimo vaše podatke.</p>
